body {
  margin: 0;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  margin: 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img{
  width: 240.6px;
  height: 78px;
}

nav{
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  width: 100%;
  margin: 15px 0px;
}

ul{
  display: flex;
  justify-content: space-between;
  justify-items: center;
  list-style-type: none;
  width: 50vw;
  font-size: 18px;
  font-family: "Karla", sans-serif;
  font-weight: bold;
}

ul li a{
  text-decoration: none;
  color: #495E57;
}

ul li a:link, a:visited, a:hover, a:active{
      text-decoration: none;
  }

ul li a:hover{
  color: #F4CE14;
  transition: ease-in-out .3s;
}

main{
  width: 100%;
  height: 406px;
  background-color: #495E57;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  margin: 15px 0px;
}

#bg-main-left{
  margin: 30px;
  width: 375px;
  height: auto;
}

#bg-main-left h1{
  color: #F4CE14;
  font-family: "Markazi Text", serif;
  font-size: 64px;
  text-align: left;
  margin: 5px 5px;
}

#bg-main-left h2{
  color: #FFFFFF;
  font-family: "Markazi Text", serif;
  font-size: 40px;
  text-align: left;
  margin: 5px 5px;
}

#bg-main-left p{
  color: #FFFFFF;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  text-align: left;
  margin: 20px 5px;
  width: 247px;
  height: 108px;
}

#reserve-btn{
  color: #FFFFFF;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  text-align: left;
  margin: 10px 5px;
}

#reserve-btn a{
  display: inline-block;
  width: 200px;
  height: auto;
  text-align: center;
  background-color: #F4CE14;
  padding: 18px 8px;
  border-radius: 15px;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: black;
}

#bg-main-right{
  margin: 50px;
  height: auto;
}

#bg-main-right img{
  width: 375px;
  height: 325px;
  border-radius: 20px;
}