body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Karla',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  margin: 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img{
  width: 240.6px;
  height: 78px;
}

nav{
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  width: 100%;
}

ul{
  display: flex;
  justify-content: space-between;
  justify-items: center;
  list-style-type: none;
  width: 50vw;
  font-size: 18px;
  font-family: "Karla", sans-serif;
  font-weight: bold;
}

ul li a{
  text-decoration: none;
  color: #495E57;
}

ul li a:link, a:visited, a:hover, a:active{
      text-decoration: none;
  }